In [1]:
import pandas as pd
import xml.etree.ElementTree as ET

In [2]:
file_path = '../Datasets/Solaridad Mundial.xml'
tree = ET.parse(file_path)
root = tree.getroot()

In [4]:
data1 = []
for record in root.findall('.//record'):
    row = {}
    for field in record.findall('field'):
        row[field.get('name')] = field.text
    data1.append(row)

df_Solaridad = pd.DataFrame(data1)

In [5]:
df_Solaridad

     Country or Area  Year       Value Value Footnotes
0        Afghanistan  2019        17.6               1
1        Afghanistan  2018        16.8               2
2        Afghanistan  2017        13.5               3
3        Afghanistan  2016          11               4
4        Afghanistan  2015        8.26               4
...              ...   ...         ...             ...
6078        Zimbabwe  1997   0.0330803            None
6079        Zimbabwe  1996   0.0167905            None
6080        Zimbabwe  1995  0.00768354            None
6081        Zimbabwe  1994  0.00173928            None
6082        Zimbabwe  1990           0            None

[6083 rows x 4 columns]

In [6]:
df_Solaridad.to_csv('Solaridad_Mundial_En_Años.csv', index=False)
print("El DataFrame limpio ha sido exportado a 'Solaridad_Mundial_En_Años.csv'.")

El DataFrame limpio ha sido exportado a 'Solaridad_Mundial_En_Años.csv'.